.mainpage {

  text-align: center;
  display: flex;
  justify-content: space-around;

}
.inzerat{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10% 10% 0% 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  margin: 20px 20px 20px 20px;
}

.triedenie{
  justify-content: center;
  display: flex;
  margin-top: 20px;
}
.container{
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;



}
.full{
  border-top: #0d0d0d solid 2px;
  background-color: white;
  height: 30px;
  padding-top: 10px;
  background-color: lightgray;

}
.info1{

  display: inline-block;



}
.info{
  display: inline-block;
  margin-right: 10px;

}
.obrazok{
  width:  180px;
  height: 180px;
  background-size: cover;
  object-fit:scale-down;
  overflow: hidden;
  border-radius: 15% 15% 0% 0%;

}
