
<mat-form-field appearance="fill" class="triedenie">
  <mat-label>Zoradiť podľa</mat-label>
  <mat-select>
    <mat-option (click)="sortItem('name')">Názvu</mat-option>
    <mat-option (click)="sortItem('price')">Ceny</mat-option>
  </mat-select>
</mat-form-field>
<div class="mainpage">
  <div class="container">




      <div *ngFor="let item of items " [routerLink]="['/detail', item.id]"  class="inzerat">
        <img [src]="item.image" class="obrazok">
        <div class="full">
        <div class="info">{{item.name}} </div>
        <div class="info1">{{item.price}} €</div>
        </div>
  </div>
  </div>
  </div>

