<div class="main">
<div class="title">
  <h1>{{title}}</h1>
</div>



    <section>
      <div class="panel">
      <div class="buttons">


        <button mat-button color="primary"><a mat-button  routerLink="/category" target="blank">DOMOV</a></button>
        <button mat-button color="primary"><a mat-button  routerLink="/login" target="blank">PRIHLÁSIŤ SA</a></button>
        <button mat-button color="primary"><a mat-button  routerLink="/saveitem" target="blank">PRIDAŤ INZERÁT</a></button>
        <button mat-button color="primary"><a mat-button  routerLink="/user/" target="blank">MOJE KONTO</a></button>
        <button mat-button color="primary"><a mat-button  routerLink="/" target="blank">ODHLÁSIŤ SA</a></button>


      </div>
      </div>
    </section>



</div>
