<div class="title" >
  <a routerLink="/category"><h1>{{title}}</h1></a>
</div>
<div class="main">

  <div class="panel">
    <button mat-button routerLink="/category" color="primary" class="home">DOMOV</button>
    <ng-container *ngIf="user$ | async as user; else odhlaseny">
      <button mat-button routerLink="/saveitem" color="primary" class="logged">PRIDAŤ INZERÁT</button>
      <button mat-button routerLink="/user/" color="primary" class="logged">MOJE KONTO</button>
      <span class="userinfo">
                <button mat-button color="primary" (click)="logout()" class="loginb" >ODHLÁSIŤ SA</button>
                <span>{{user.email}}</span>
            </span>
    </ng-container>
    <ng-template #odhlaseny >
      <span><button mat-button routerLink="/login" color="primary" class="loginb" >PRIHLÁSIŤ SA</button></span>
    </ng-template>
  </div>
</div>

