.kolonka{
  height: 30px;
  width: 300px;
  text-align: center;
  float: left;
  font-size: 15px;
  margin: 20px 350px ;
}
.title{
  text-align: center;
}
.tlacidlo{
  float: right;
  margin: 20px 440px;
}
