.kolonka{
  font-size: 15px;
  text-align: center;
  width: 500px;
}

.title{
  text-align: center;
}

.popiskolonka{
  text-align: center;
  font-size: 15px;
}

.formular{
  display: flex;
  justify-content: center;
}

.form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
