<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div *ngIf="item" class="container">
  <mat-card class="item">
    <mat-card-header>
      <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="item.image">
    <mat-card-content>
      <div class="description">
        <div><span>Popis:</span><span>{{item.description}}</span></div>
        <div><span>Cena:</span><span>{{item.price}}€</span></div>
      </div>
      <div class="contact" *ngIf="person">
        <h4>Kontaktné údaje</h4>
        <div><span>Meno:</span><span>{{person.firstName}} {{person.lastName}}</span></div>
        <div><span>Mesto:</span><span>{{person.city}}</span></div>
        <div><span>Telefónne číslo:</span><span>{{person.phoneNumber}}</span></div>
        <div><span>Email:</span><span>{{person.email}}</span></div>
      </div>
    </mat-card-content>

    <ng-container *ngIf="currentUser$ | async as user">
      <button *ngIf="user.id === person?.id" mat-stroked-button [routerLink]="['/edit', item.id]" color="primary">Edit</button>
    </ng-container>
  </mat-card>
</div>
<button (click)="goBack()">go back</button>
