.container {
  display: flex;
  justify-content: center;
}

.item {
  width: 400px;
}

.description > div > span:first-child,
.contact > div > span:first-child {
  font-weight: bold;
}

.description > div > span:first-child:after,
.contact > div > span:first-child:after {
  content: ' ';
}

h4 {
  margin-top: 16px;
  margin-bottom: 8px;
}
