<div class="mainpage">
  <div class="container">
    <div class="imagepart">
      <img  src="assets/elektro.png" routerLink="ELECTRO" >
      <button mat-stroked-button routerLink="ELECTRO">Elektro</button>
    </div>
    <div class="imagepart">
      <img  src="assets/house.png" routerLink="HOME" >
      <button mat-stroked-button routerLink="HOME">Dom a záhrada</button>
    </div>
    <div class="imagepart">
      <img  src="assets/car.png" routerLink="CARS" >
      <button mat-stroked-button routerLink="CARS" routerLink="CARS">Autá</button>
    </div>
    <div class="imagepart">
      <img  src="assets/kids.png" routerLink="KIDS" >
      <button  mat-stroked-button routerLink="KIDS">Deti</button>
    </div>
    <div class="imagepart">
      <img class="categoryimagebad" src="assets/hobby.png" routerLink="HOBBY" >
      <button mat-stroked-button routerLink="HOBBY">Hobby</button>
    </div>
    <div class="imagepart">
      <img class="categoryimagebad" src="assets/clothing.png" routerLink="CLOTHES" >
      <button mat-stroked-button routerLink="CLOTHES">Oblečenie</button>
    </div>
  </div>
</div>

