<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="mainpage">
   <div class="imagepart">
     <img class="categoryimage" src="assets/elektro.jpg" routerLink="ELECTRO">
     <span class="description"> <button mat-stroked-button routerLink="ELECTRO">Electro</button></span>
   </div>
  <div class="imagepart">
    <img class="categoryimage" src="assets/domov.jpg" routerLink="HOME">
    <span class="description"><button mat-stroked-button routerLink="HOME">Home</button></span>
  </div>
  <div class="imagepart">
    <img class="categoryimage" src="assets/auto.jpg" routerLink="CARS">
    <span class="description"><button mat-stroked-button routerLink="CARS" routerLink="CARS">Cars</button></span>
  </div>
  <div class="imagepart">
    <img class="categoryimage" src="assets/deti.jpg" routerLink="KIDS">
    <span class="description"><button mat-stroked-button routerLink="KIDS">Kids</button></span>
  </div>
  <div class="imagepart">
    <img class="categoryimage" src="assets/hobby.jpg" routerLink="HOBBY">
    <span class="description"><button mat-stroked-button routerLink="HOBBY">Hobby</button></span>
  </div>
  <div class="imagepart">
    <img class="categoryimage" src="assets/oblecko.jpg" routerLink="CLOTHES">
    <span class="description"><button mat-stroked-button routerLink="CLOTHES">Clothes</button></span>
  </div>
</div>

<!--










  <div class="categorycontents">

  </div>

</div>

-->
