.mainpage{
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: whitesmoke;

}

.imagepart{
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: darkgrey;
  box-shadow: lightblue;
  width: 200px;
  height: 200px;
  margin: 60px 40px 50px;
}
.categoryimagebad{
  padding-bottom:25px;

  position: center;
  width: 200px;
  height: 180px;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 900px;
}
.button{
  border-top: 2px black solid;

  background-color: blue;
}
